body{
width: 100%;
font-family: 'Poppins';
display: flex;
justify-content: flex-start;

flex-direction: column;
margin: 20px;
}
nav{
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
max-width: 1110px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: flex-start;
}
header{
max-width: 1110px;
width: 100%;
min-height: 604px;
}
.logo{
width: 185px;
}
ul{
list-style: none;
display: flex;
max-width: 350px;
width: 100%;
justify-content: space-around;
}
li{
list-style: none;
}
li>a{
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #2F281E;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
    align-items: flex-end; 
    flex-direction: row;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    justify-content: right;
}
.btn-1{
left: 1029px;
right: 269px;
top: 15px;
bottom: 17px;
border-radius: 5px;
}
.btn-2{
left: 81.79%;
right: 10.36%;
top: 19.23%;
bottom: 21.79%;
background-color: orange;
color: aliceblue;
border-radius: 5px;
}
.main-content-left{
width: 518px;
height: 331px;
left: 145px;
top: 211px;
display: flex;
justify-content: left;
flex-direction: column;
}
h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
display: flex;
}
p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
display: flex;
}

.img-1{
width: 605px;
height: 496px;
left: 666px;
top: 128px;
display: flex;
justify-content: right;
align-items: flex-start;
}