body{
width: 1400px;
height: 78px;
left: 0px;
top: 20px;
display: flex;
flex-direction: row;
}
header{
display: flex;
flex-direction: row;
left: 144px;
right: 1070px;
top: 22px;
bottom: 24px;
}
.image{
width: 30.16px;
height: 30px;
left: 143.92px;
top: 22px;
}
ul{
height: 28px;
bottom: 26px;
left: 650px;
right: 400px;
top: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 200% */
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
color: #2F281E;

}
.btn{
    display: flex;
    align-items: flex-end; 
    flex-direction: row;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    justify-content: right;
}
.btn-1{
left: 1029px;
right: 269px;
top: 15px;
bottom: 17px;
border-radius: 5px;
}
.btn-2{
left: 81.79%;
right: 10.36%;
top: 19.23%;
bottom: 21.79%;
background-color: orange;
color: aliceblue;
border-radius: 5px;
}
.main-content-left{
width: 518px;
height: 331px;
left: 145px;
top: 211px;
display: flex;
align-items: flex-start;
justify-content: left;
flex-direction: column;
}
h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;

}
p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;

}

.img-1{
    width: 605px;
height: 496px;
left: 666px;
top: 128px;
display: flex;
justify-content: right;
}